@font-face {
    font-family: 'ReturnOfGanon';
    src: url('fonts/return-of-ganon-font/ReturnOfGanonRegular-3ReM.ttf') format('truetype');
}   

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

.screen {
    display: none;
}


.active {
    display: block;
}

#startScreen, #gameScreen, #resultScreen {
    background-color: #6ab7fb;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#back {
    background-color: white;
    margin: 20px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 25px;
    font-family: 'ReturnOfGanon';
}

.header {
    background-color: white;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    font-size: 40px;
    width: 100%;
    font-family: 'ReturnOfGanon';
    text-align: center;
    line-height: 0.1;
}

h3 {
    font-weight: normal;
    font-size: 30px;
}

p {
    font-family: 'ReturnOfGanon';
    font-size: 25px;
}

#lrgpic {
    max-width: 100%; 
    max-height: 45vh; 
    width: auto;
    height: auto;
    object-fit: contain;
    border-style: solid;
    border-width: 2px;
}

#gamepic {
    max-width: 100%; 
    max-height: 35vh; 
    width: auto;
    height: auto;
    object-fit: contain;
    border-style: solid;
    border-width: 2px;
}

button {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    font-family: 'ReturnOfGanon';
}

#again {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
    font-family: 'ReturnOfGanon';
}

#back {
    text-align: left;
}

#userInput {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 7px;
    font-family: 'ReturnOfGanon';
    font-size: 20px;
}

#submit {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left: 7px;
    font-family: 'ReturnOfGanon';
    font-size: 20px;
}
